.btn-animation {
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    background-color: white;
    color: black;
    background-image: linear-gradient(to top, #F2542D 50%, transparent 50%);
    background-position: 0 0;
    background-size: 100% 400%;
    transition: background-position 500ms ease-in-out, color 500ms ease-in-out;

    &:hover {
        background-position: 0 100%;
        color: white;
    }
}
